openapi: 3.0.0
info:
  version: 1.0.0
  title: Heureka Marketplace API
  description: Public documentation of Heureka Marketplace API services.
servers:
  - url: 'https://ssl.heureka.sk/'
paths:
  /api/cart/{apiId}/1/payout-report:
    post:
      tags:
        - Payout Report
      summary: Get a day's payout report in CSV format
      description: "Get all payout data for a day in CSV format.\n\n
      In the CSV data are separated by a semicolon (;).\n\n
      The file includes the following columns (in the partner's respective language):\n\n
      Order number, Order date, Payout type, Payout gross price,
      Delivery fee, Gross commission, Total
      amount, Payout amount.\n\n
      For CZ/SK partners there are three additional columns: Variable symbol, Internal id, Reference number"
      parameters:
        - $ref: '#/components/parameters/apiId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [day]
              properties:
                day:
                  type: string
                  example: 2023-09-20
                  description: Date of payout
      responses:
        200:
          $ref: '#/components/responses/SuccessResponse'
        422:
          $ref: '#/components/responses/ValidationErrorResponse'
        500:
          description: A server error happened during handling of request.

components:
  parameters:
    apiId:
      in: path
      name: apiId
      description: Partner's API key
      required: true
      schema:
        type: string
        example: a12BC3d45
  responses:
    SuccessResponse:
      description: Payout Report CSV generated successfully.
      content:
        text/csv:
          schema:
            description: Payout data in CSV format
            type: string
            example: "column1;column2;column3;...\ndata1;data2;data3;..."

    ValidationErrorResponse:
      description: Show validation error response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Validation error(s)!
              code:
                type: integer
                example: 422
              version:
                type: string
                description: The version of the API
                example: v1.0.0
              uuid:
                type: string
                format: uuid
                example: a1b47cd1-1234-4ab2-a12b-1234bd0a4bc3
              data:
                type: array
                nullable: true
                example: []
                items:
                  type: object
              errors:
                type: object
                properties:
                  day:
                    type: array
                    items:
                      type: string
                      example: validation.required
